@import './settings';

.container_header{
    max-width: 80rem;
    margin:0 auto;
    justify-content: space-between;
 }

//@import './component_container.scss'

// *{
//     box-sizing: border-box;
// }
.container{
    max-width: 80rem;
    margin:0 auto;
  
    display: flex;
     
    flex-direction: column;
    @media(min-width:500px){
        flex-direction: row;
        padding: 2rem 2rem;
    }

    @media(max-width:200px){
        flex-direction: column;
    
    }
    line-height: 1.5rem;
    .container_search{
        
        @media(max-width:220px){
            width:75%;
            
        }
        margin-right: 10px;
        height: 36px;
        font-size: 1.8rem;
    }
 }



.container_sort{
    @media(max-width:200px){
        width:75%;
        
    }
    margin: 2px 10x;
    height: 36px;
    font-size: 1.8rem;

}




