.header{
    background: #364051;
    padding: 0px;
    align-items: right;
 
}
.header_a{
    padding-top:12px;
    text-decoration: none;  
    align-items: center;  
}
.header_link{
    color:white;
    text-decoration: none;  
    align-items: left;  
}

.header_link_a{
    justify-content: space-between;
    display:flex;
    color:white;
    align-content: center;
}

.subheader{
    background:#f7f7f7;
    padding:3rem 0;
    div{
        align-content: center;
        margin-left: 20%;
        //margin: 0 auto;
        p{
            font-size: 24px;
        }
        button{
            margin-top: 1.5rem;
            background: rgba(204, 136, 10, 0.76);
            border:none;
            padding: 10px 10px;
            line-height: 1.5rem;
            font-size: 15px;
        }
    }
}

